h1 {
    background-color: teal;
    color: white ;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    float: right;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
}

li a {
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.main-content {
    height: 400px;
    width: 50%;
    padding: 25px 0;
    position: relative;
    margin: 0 auto;
    border: 1px solid gray;
    background-color:#ffffff;
    clear: both;
}

p {
    margin-bottom: 20px;
}

img {
    float: left;
    padding: 20px;
}

html {
    background-color: lightgrey ;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    border-top:8px solid #4aaaa5;
    border-top-width: medium;

}
